/*Primeiro seletor > aplicado a todas as tags*/
*{
    font-family: Arial, Helvetica, sans-serif;
    
    box-sizing: border-box;
}

#header{
    color: white;
    border: 10px solid white;
}

h2{
    background-color: grey;
    font-family: cursive;
    font-size: 50px;
    color: pink;
    /*propriedade : valor da propriedade ;*/
}

p strong{
    color: rgb(183, 26, 52);
}

.texto-azul{
/*classe*/
    color: blue;
}

.texto-amarelo{
    color: #fff000
}

body{
    background-image: url("eevee.png");
    background-color: pink;
}

div{
    background-image: linear-gradient( white, pink, white);
}
